body{
    background-image: url(../images/background.jpg);
    background-size: cover;
}
p{
color: white;
font-size: 24px;
}
h4{
    color: brown;
    text-align: center;
    font-size: 30px;
}
.slogan {
    display: flex;
    justify-content: center;
    width: 400px;
    color:  rgb(14, 113, 138);
  }
  
  .sloganname {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
  }
  h1{
      text-align: center;
      font-family: This is who we are;
  }
  .panel-footer{
    padding-bottom: 150px;
}