body{
    background-image: url("https://st3.depositphotos.com/3037725/13373/i/1600/depositphotos_133737766-stock-photo-small-urban-blue-bus-on.jpg");
    background-size: cover;
}
p{
color:rgb(8, 2, 2);
font-size: 24px;
;

}
h4{
    color: brown;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}
  
  h1{
      text-align: center;
      font-family: This is who we are;
  }
  .panel-footer{
    padding-bottom: 50px;
    margin-top: 50px;
}
.navbar-default{
padding-top: 50px;
background-color: black;
}
IMG{
    margin-left: 220px;
}